@page "/"

<PageTitle>Home</PageTitle>



<div class="d-flex justify-space-between">
    <MudContainer Fixed MaxWidth="MaxWidth.ExtraSmall" Class="mt-15 ml-15">
         <MudText Align="Align.Left" Typo="Typo.h1" Style="color: forestgreen; font-family:'Baskerville Old Face'; letter-spacing:-2px; ">Hello!</MudText>
         <MudText Align="Align.Left" Typo="Typo.h5" Style="letter-spacing:-1px;">I am <span style="color: forestgreen; font-family:'Baskerville Old Face'; font-size:xx-large; ">Andrei</span>, a software developer</MudText>
         <MudText Align="Align.Left" Typo="Typo.h5" Style="letter-spacing:-1px;">based in Bucharest, Romania.</MudText>
     </MudContainer>

     <MudImage Src="resources/id.jpg" ObjectPosition="ObjectPosition.RightTop" Style="max-height:auto; max-width:15%; border-radius:50%; margin-right:10%;" />
</div>


@*  @for(int i = 0; i < 100; i++)
{
    <div>@i</div>
    
} *@