@page "/"

<PageTitle>Home</PageTitle>

<MudContainer Fixed MaxWidth="MaxWidth.ExtraSmall" Class="mt-15">
    <MudText Align="Align.Left" Typo="Typo.h1" Style="color: forestgreen; font-family:'Baskerville Old Face' " >Hello!</MudText>
    <MudText Align="Align.Left" Typo="Typo.h5">I am <span style="color: forestgreen; font-family:'Baskerville Old Face'; font-size:xx-large; ">Andrei</span>, a software developer</MudText>
    <MudText Align="Align.Left" Typo="Typo.h5">based in Bucharest, Romania.</MudText>
</MudContainer>

@*  @for(int i = 0; i < 100; i++)
{
    <div>@i</div>
    
} *@